name: Trigger auto deployment for ca-restaurantsystem-dev

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/ca-restaurantsystem-dev-AutoDeployTrigger-27f42a3c-c8dc-4316-b56f-2c86adf682db.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.CARESTAURANTSYSTEMDEV_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.CARESTAURANTSYSTEMDEV_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.CARESTAURANTSYSTEMDEV_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: 
          registryUsername: ${{ secrets.CARESTAURANTSYSTEMDEV_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.CARESTAURANTSYSTEMDEV_REGISTRY_PASSWORD }}
          containerAppName: ca-restaurantsystem-dev
          resourceGroup: rg-restaurantsystem-dev
          imageToBuild: default/[parameters('containerAppName')]:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


